
.vs/IPhoneApi/xs/project-cache/IPhoneApi-Debug.json
IPhoneApi/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
IPhoneApi/obj/Debug/net7.0/IPhoneApi.AssemblyInfo.cs
IPhoneApi/obj/Debug/net7.0/IPhoneApi.AssemblyInfoInputs.cache
IPhoneApi/obj/Debug/net7.0/IPhoneApi.assets.cache
IPhoneApi/obj/Debug/net7.0/IPhoneApi.csproj.AssemblyReference.cache
IPhoneApi/obj/Debug/net7.0/IPhoneApi.GeneratedMSBuildEditorConfig.editorconfig
IPhoneApi/obj/Debug/net7.0/IPhoneApi.GlobalUsings.g.cs
IPhoneApi/obj/IPhoneApi.csproj.nuget.dgspec.json
IPhoneApi/obj/IPhoneApi.csproj.nuget.g.props
IPhoneApi/obj/IPhoneApi.csproj.nuget.g.targets
IPhoneApi/obj/project.assets.json
IPhoneApi/obj/project.nuget.cache
IPhoneApi/bin/Debug/net7.0/appsettings.Development.json
IPhoneApi/bin/Debug/net7.0/appsettings.json
IPhoneApi/bin/Debug/net7.0/IPhoneApi
IPhoneApi/bin/Debug/net7.0/IPhoneApi.deps.json
IPhoneApi/bin/Debug/net7.0/IPhoneApi.dll
IPhoneApi/bin/Debug/net7.0/IPhoneApi.pdb
IPhoneApi/bin/Debug/net7.0/IPhoneApi.runtimeconfig.json
IPhoneApi/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
IPhoneApi/bin/Debug/net7.0/Microsoft.OpenApi.dll
IPhoneApi/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
IPhoneApi/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
IPhoneApi/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
IPhoneApi/obj/Debug/net7.0/apphost
IPhoneApi/obj/Debug/net7.0/IPhoneApi.csproj.CopyComplete
IPhoneApi/obj/Debug/net7.0/IPhoneApi.csproj.CoreCompileInputs.cache
IPhoneApi/obj/Debug/net7.0/IPhoneApi.csproj.FileListAbsolute.txt
IPhoneApi/obj/Debug/net7.0/IPhoneApi.dll
IPhoneApi/obj/Debug/net7.0/IPhoneApi.genruntimeconfig.cache
IPhoneApi/obj/Debug/net7.0/IPhoneApi.MvcApplicationPartsAssemblyInfo.cache
IPhoneApi/obj/Debug/net7.0/IPhoneApi.MvcApplicationPartsAssemblyInfo.cs
IPhoneApi/obj/Debug/net7.0/IPhoneApi.pdb
IPhoneApi/obj/Debug/net7.0/ref/IPhoneApi.dll
IPhoneApi/obj/Debug/net7.0/refint/IPhoneApi.dll
IPhoneApi/obj/Debug/net7.0/staticwebassets.build.json
IPhoneApi/obj/Debug/net7.0/staticwebassets/msbuild.build.IPhoneApi.props
IPhoneApi/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.IPhoneApi.props
IPhoneApi/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.IPhoneApi.props
