
.vs/IPhoneApi/xs/project-cache/IPhoneApi-Debug.json
IPhoneApi/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
IPhoneApi/obj/Debug/net7.0/IPhoneApi.AssemblyInfo.cs
IPhoneApi/obj/Debug/net7.0/IPhoneApi.AssemblyInfoInputs.cache
IPhoneApi/obj/Debug/net7.0/IPhoneApi.assets.cache
IPhoneApi/obj/Debug/net7.0/IPhoneApi.csproj.AssemblyReference.cache
IPhoneApi/obj/Debug/net7.0/IPhoneApi.GeneratedMSBuildEditorConfig.editorconfig
IPhoneApi/obj/Debug/net7.0/IPhoneApi.GlobalUsings.g.cs
IPhoneApi/obj/IPhoneApi.csproj.nuget.dgspec.json
IPhoneApi/obj/IPhoneApi.csproj.nuget.g.props
IPhoneApi/obj/IPhoneApi.csproj.nuget.g.targets
IPhoneApi/obj/project.assets.json
IPhoneApi/obj/project.nuget.cache
